<form class="example-form">
<div class="example-container">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Name">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Age">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Date of Birth">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-select placeholder="Occupation">
      <mat-option value="option">Option</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Death - Sum Insured">
  </mat-form-field>
</div>
</form>
<router-outlet></router-outlet>
